.wrapper {
    width: 650px;
    height: 400px;
    
    .text_container {
        width: 45%;
        height: 50px;
        margin: 10px 0px 20px 0px;
        align-self: center;
        background: none;
      }
      .checkbox {
        width: 20px;
        height: 20px;
        background: #6ceec7;
        border: 1px solid #67d9b7;
        box-sizing: border-box;
        box-shadow: 0px 28px 25px -25px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        margin: 2%;
        cursor: pointer;
        transition: 0.3s all;
      }
    
      .text {
        color: #e0e0e0;
      }
      .text__link {
        text-decoration: none;
        color: #6ceec7;
        border-bottom: 1px solid #6ceec7;
        transition: 0.3s all;
      }
      .text__link:hover {
        border-bottom: 1px solid rgb(255, 255, 255);
      }
    }
    .btn_wrapper {
      width: 95%;
      justify-content: flex-start;
      margin: auto;
    
      .button {
        font-weight: bold;
        font-size: 19px;
        width: 165px;
        height: 56px;
        color: #6ceec7;
        border: 1px solid #6ceec7;
        background: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all;
        margin-top: 20px;
      }
      .button_color{
        background-color: #6CEEC7;
        color: black;
        font-weight: bold;
        font-size: 19px;
        width: 165px;
        height: 56px;
        border: 1px solid #6ceec7;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all;
        margin-top: 20px;
      }
  }